# Build outputs
bin/
obj/
/packages/
.worktrees/

# IDE specific files
riderModule.iml
/_ReSharper.Caches/
*.DotSettings.user
*.DotSettings
/ReSharperSettings.xml

# Visual Studio Code
.vscode/
*.code-workspace

# Visual Studio
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

# Godot
*.cs.uid
